<%- include('../partials/header.ejs', {}) %>
<section class="section mt-5">
    <div class="container">
        <h1>Kullanıcıyı Düzenle</h1>
        <form action="/specialarea/createuser" method="POST">
            <label for="username">Kullancı Adı</label>
            <input type="text" name="username" id="username" class="form-control" placeholder="username">
<br/>       
            <label for="pp">Profil Fotoğrafı</label>
            <input type="text" name="pp" id="pp" class="form-control" placeholder="pp">
<br/>     
            <label for="password">Şifre</label>
            <input type="password" name="password" id="password" class="form-control" placeholder="password">  
<br/>    
            <label for="position">Yetkisi</label>
            <select id="position" name="position" class="form-control">
                <option disabled>Lütfen Yetki Seç</option>
                <option value="admin">Admin</option>
                <option value="moderator">Moderatör</option>
                <option value="writer">Yazar</option>
                <option value="user">Kullanıcı</option>
           </select>
<br/><br/>     
            <input type="submit" value="Düzenle" class="btn btn-outline-success">            
        </form>
         </div>
    <br/>
    <br/>
    <br/>
    </section>
<%- include('../partials/footer.ejs', {}) %>